<?xml version="1.0"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.firebase">
    <uses-sdk android:minSdkVersion="14"/>
    <application>

        <provider android:authorities="com.playfab.unicornbattle2.firebaseinitprovider" android:name="com.google.firebase.provider.FirebaseInitProvider" android:exported="false" android:initOrder="100"/>
    </application>
</manifest>
