<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="com.Company.ProductName"
    android:versionName="1.0"
    android:versionCode="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true">
        
        <activity android:name="com.unity3d.player.VideoPlayer"
            android:label="@string/app_name"
            android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen">
        </activity>
        
        <!-- Supersonic -->
        <activity android:name = "com.supersonicads.sdk.controller.ControllerActivity"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"/>
        <activity android:name = "com.supersonicads.sdk.controller.InterstitialActivity"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Translucent"/>
        <activity android:name = "com.supersonicads.sdk.controller.OpenUrlActivity"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"/>
        
        <!-- AdColony -->
        <activity
        android:name="com.jirbo.adcolony.AdColonyOverlay"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
        android:name="com.jirbo.adcolony.AdColonyFullscreen"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
        android:name="com.jirbo.adcolony.AdColonyBrowser"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        
        <!-- Vungle -->
        <activity
        android:name="com.vungle.publisher.FullScreenAdActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <service
        android:name="com.vungle.publisher.VungleService"
        android:exported="false" />
        
        <!-- AppLovin -->
        <activity android:name="com.applovin.adview.AppLovinInterstitialActivity" />
        <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />

        <meta-data android:name="applovin.sdk.key" android:value="0tv_c9nN2T_WrHGqZ0yLTL4X-Wz2nhJnTDnANXXP0WwrpBeNBakkxoGvJDx4vFsSScdq99D9g8_UJdtVDaE8NU" />


        <!-- Flurry --> 
        <activity
        android:name="com.flurry.android.FlurryFullscreenTakeoverActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" >
        </activity>
        
        <!-- Chartboost -->
        <activity
        android:name="com.chartboost.sdk.CBImpressionActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:excludeFromRecents="true"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        
        <!-- HyprMX -->
        <activity
            android:name="com.supersonic.adapters.hyprmx.MediationHMXActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|screenLayout|locale">
        </activity>
        <activity
        android:name="com.hyprmx.android.sdk.activity.HyprMXOfferViewerActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="HyprMX SDK"
        android:launchMode="singleTop" />
        <activity
        android:name="com.hyprmx.android.sdk.activity.HyprMXRequiredInformationActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
        android:name="com.hyprmx.android.sdk.activity.HyprMXNoOffersActivity"
        android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
        android:name="com.hyprmx.android.sdk.activity.HyprMXWebTrafficActivity"
        android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
        android:name="com.hyprmx.android.sdk.activity.HyprMXVideoPlayerActivity"
        android:configChanges="orientation|keyboardHidden|screenSize" />
        
        <service
        android:name="com.hyprmx.android.sdk.service.ApplicationInstallService"
        android:enabled="true"
        android:exported="false"
        android:stopWithTask="false" >
        </service>
        
        <!-- NativeX -->
        <activity
        android:name="com.nativex.monetization.activities.InterstitialActivity"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
        android:name="com.nativex.videoplayer.VideoActivity"
        android:configChanges="orientation|screenSize" />
        
        <!-- AdMob -->
        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
        <activity android:name="com.google.android.gms.ads.AdActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:theme="@android:style/Theme.Translucent" />
        
        <!-- InMobi -->
        <activity
        android:name="com.inmobi.rendering.InMobiAdActivity"
        android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:hardwareAccelerated="true"/>
        <receiver
        android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
        android:enabled="true"
        android:exported="true">
        <intent-filter>
            <action android:name="com.inmobi.share.id" />
        </intent-filter>
        </receiver>
        <service android:enabled="true" android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager" />
        
        <!-- MediaBrix -->
        <activity
        android:name="com.mediabrix.android.service.AdViewActivity"
        android:configChanges="orientation|screenSize|keyboard"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" >
        </activity>
        <service
        android:name="com.mediabrix.android.service.MediaBrixService" >
        </service>
        
        <!-- UnityAds -->
        <activity
        android:name="com.unity3d.ads.adunit.AdUnitActivity"
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        <activity
        android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
        android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
        android:hardwareAccelerated="false"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
        
        <!-- Facebook -->
        <activity android:name="com.facebook.ads.InterstitialAdActivity"
        android:configChanges="keyboardHidden|orientation|screenSize" />
        
        <!-- TapJoy -->
        <activity
        android:name="com.tapjoy.TJAdUnitActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:hardwareAccelerated="true"
        android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
        <activity
        android:name="com.tapjoy.mraid.view.ActionHandler"
        android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
        android:name="com.tapjoy.mraid.view.Browser"
        android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
        android:name="com.tapjoy.TJContentActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:hardwareAccelerated="true" />
    </application>
</manifest>